main{
    
    color:blue;

}
body{
    background-image: url(bg.jpg);
}
header{

    color:blue;
    border-radius: 10px;
}
#icon{
    width: 20px;
    height: 20px;
}
#icon2{
    width: 20px;
    height: 20px;
}
#icon11{
    width: 20px;
    height: 20px;
}
#icon12{
    width: 20px;
    height: 20px;
}
#icon13{
    width: 20px;
    height: 20px;
}
#icon14{
    width: 20px;
    height: 20px;
}
#ph1{
    float:left;
    
}
#ph2{
    float:right;
}
#avthuong{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
#th1{
    float:left;
    width: 70%;
    
}
#th2{
    float:right;
    width: 30%;
    
}
hr{
    border: 5px solid blue ;
    width:60px;
    margin: 5px
}
main{
    padding: 20px 300px;
}
table{
    padding: 20px 300px;
}
