#avt{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
#icon{
    width: 20px;
    height: 20px;
}
#icon2{
    width: 20px;
    height: 20px;
}
header{
    background-color: rgb(248, 198, 183);
}
#icon11{
    width: 20px;
    height: 20px;
}
#icon12{
    width: 20px;
    height: 20px;
}
#icon13{
    width: 20px;
    height: 20px;
}
#icon14{
    width: 20px;
    height: 20px;
}
#phan1{
    background-color: rgb(248, 198, 183);
    float:right;
}
#phan2{
    background-color: rgb(248, 198, 183);
    float:left
}
#thu1{
    float:left;
    width: 70%;
}
#thu2{
    float:right;
    width: 30%;
}
body{
    color:orangered
}
h2{
    color: black
}
hr{
    border: 5px solid orangered ;
    width:60px;
    margin: 5px
}